.carousel {
  position: relative;
  width: 393px;
  height: 250px;
  left: 0px;
  top: 60px;
  padding-bottom: 20px
}

.carousel__image {
  z-index: -1;
  display: grid;
  position: absolute;
  width: 393px;
  height: 250px;
  left: 0px;
  top: 0px;
  transition: all 2s ease-in-out;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

span {
  text-align: center;
}

.dot:hover {
  background-color: #717171;
}