* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #F5F5F5;
  transition: background-color ease-out 300ms;
}

.dark {
  background-color: #000;
}

/* TABLE CARD */

.beverage {
  display: flex;
  border-radius: 10px;
  background: #F9E7DD;
}

.beverages {
  background: #F9E7DD;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto 20px;
  transition: background ease-out 300ms;
  padding: 20px;
  width: 359px;
}

.dark .beverages {
  background: #ababab;
}

.beverage-container img {
  height: 106px;
  width: 106px;
  margin: 12px 12px 12px 12px;
  padding: 12px;
}

.beverage-title {
  color: #9A6767;
  margin: 5px 0 8px 10px;
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: bold;
  transition: color ease-out 300ms;
}

.dark .beverage-title {
  color: #fff;
}

.beverage-summary {
  color: black;
  margin: 5px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: thin;
  transition: color ease-out 300ms;
}

.dark .beverage-summary {
  color: #fff;
}

.beverage-header {
  color: #9A6767;
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: bold;
  transition: color ease-out 300ms;
  margin: 17px 71px 6px 17px;

}

.dark .beverage-header {
  color: #ffffff;
}

.beverage-btn {
  color: white;
  background: #9A6767;
  border-radius: 100px;
  border: none;
  width: 129px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 2px 5px 0;
  transition: background ease-out 300ms;
}

.dark .beverage-btn {
  background: #737373;
}

.line-break {
  width: 357px;
  height: 1px;
  margin: 11px 0 6.5px -20px;
  background-color: #d9d9d9;
}

/* NAVIGATION COMPONENT */


.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 393px;
  height: 60px;
  padding: 17px 17px 13px 312px;
  background-color: #f9f9f9;
  transition: background-color ease-out 300ms;
  z-index: 1;
}

.dark .navigation {
  background-color: #222;
}

.toggle-container {
  position: relative;
  width: 64px;
  height: 30px;
  flex-grow: 0;
  padding: 2px 2px 2px 7px;
  border-radius: 36.5px;
  background: linear-gradient(to right, #ffb800 -3%, #ff00b8 100%);
  transition: background ease-out 300ms;
}

.dark .toggle-container {
  background: linear-gradient(90deg, #20045B -3.13%, #7A3DFA 103.13%);
}

.knob {
  position: absolute;
  left: 36px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.03), 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: left ease-out 300ms;
}

.dark .knob {
  left: 2px;
}

.moon {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7.5px;
  left: 7px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  z-index: 1;
}

.moon-path {
  fill: #FFC634;
  transition: fill ease-out 3000ms;
}

.dark .moon-path {
  fill: url("#dark-gradient")
}

.sun {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 7px;
  right: 4.75px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  background: linear-gradient(90deg, #FF00B8 -8.33%, #FFB800 108.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 1;
}

.swirl-container {
  width: 29px;
  height: 30px;
  position: absolute;
  left: 197px;
}

.swirl-path {
  fill: #D79881;
  transition: fill ease-out 300ms;
}

.dark .swirl-path {
  fill: #fff;
}

.sun-path {
  fill: url("#light-gradient");
  transition: fill ease-out 300ms;
}

.dark .sun-path {
  fill: #AD87FF;
}

.nav-title {
  position: absolute;
  width: 252px;
  height: 74px;
  top: -23px;
  left: 15px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.165px;
  color: #D79881;
  transition: color ease-out 300ms;
}

.dark .nav-title {
  color: #fff;
  padding: 0;
  margin: 0;
}

/* FULL CARD COMPONENT */

.daily-special {
  position: relative;
  width: 305px;
  height: 37px;
  font-family: "Playfair Display";
  margin: 40px 71px 6px 17px;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  text-align: left;
  color: #9a6767
}

.card {
  padding: 0;
  margin-top: 80px;
}

.main {
  margin: 0 16px;
}

.image-16 {
  width: 100%;
  height: 250px;
  /* padding: 54px 66.3px 54.5px 65.3px; */
  /* background: url('../public/breakfastspecial.png'); */
  border-radius: 10px 10px 0px 0px;
}

.Rectangle-19 {
  width: 100%;
  height: 120px;
  flex-grow: 0;
  margin-top: -4px;
  background-color: #f9e7dd;
  background: #F9E7DD;
  border-radius: 0px 0px 10px 10px;
  transition: background-color ease-out 300ms;
}

.dark .Rectangle-19 {
  background-color: #ababab;
}

.dish {
  width: 284px;
  height: 19px;
  margin: 0 0 9px 0.1px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  text-align: left;
  color: var(--coffee);
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.165px;
  color: #9A6767;
  transition: color ease-out 300ms;
}

.dark .dish {
  color: #fff;
}

.description {
  width: 280px;
  height: 33px;
  margin: 9px 4px 8px 0.1px;
  font-family: SFProText;
  font-size: 14px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  text-align: left;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  color: #000000;
  transition: color ease-out 300ms;
}

.dark .description {
  color: #fff;
}

.Order-Now {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #FFFFFF;
  background-color: #9A6767;
  padding: 6px 12px;
  border-radius: 100px;
  margin-top: 8px;
  width: 126px
}

.dark .Order-Now {
  background-color: #737373;
}

.card-details {
  padding: 6px 12px;

}