@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.beverage {
  display: flex;
  border-radius: 10px;
  background: #F9E7DD;
}

.beverage img {
  height: 106px;
  width: 106px;
  margin: 12px 12px 12px 12px;
}

.beverage .title {
  color: #9A6767;
  margin: 5px 0 8px 10px;
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: bold;
}

.beverage .summary {
  color: black;
  margin: 5px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: thin;
}

.title {
  color: #9A6767;
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: bold;
}

.btn {
  color: white;
  background: #9A6767;
  border-radius: 100px;
  width: 129px;
  font-weight: bold;
}